@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;700&family=Kanit:wght@100;600&family=Roboto:wght@400;700&display=swap');

header {
    max-width: 100vw;
    background-color: black;
    height: 160px;
    border-bottom: 2px solid #ED1D24;
    display: flex;
    background-image: url(https://www.dhresource.com/webp/m/0x0/f2/albu/g9/M00/3E/09/rBVaWF0K_w-AO10qAAP0KO-J3wA835.jpg);
    background-size: 65%;
    background-position: top;
}

body {
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
}


header img {
    height: 70%;
    margin-left: 30px;

}

header >div:first-child{
    height: 100%;
    width: 55%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}


header >div:last-child{
    height: 100%;
    width: 45%;
    /* background-color: violet; */
    display: flex;
   justify-content: space-around;
   align-items: center;
}

.menu-style {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    border: 1px solid #ED1D24;
    padding: 10px 15px;
    background-color: black;
    border-radius: 2px;
}

.menu-style:hover {
    background-color: #ED1D24;
    border: 1px solid white;
}

.container {
    max-width: 1190px;
    margin: 40px auto;
    /* border: 0.5px solid white; */
    background-color: black
}

.loading {
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ED1D24;
    height: 30px;
    width: 190px;
    text-align: center;
    border-radius:3px;
    text-transform: uppercase;
    font-style: italic;
    margin: 20px auto;
    padding: 5px 30px;

    
}

/* ------------ CHARACTERS ------------ */

.hero-pics {
    height: 180px;
    width: 180px;
    object-fit: contain;
    margin-top: 7px;
    
}

.listing {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    

}

.character-preview {
  border : 1px solid white;
  border-radius: 5px;
  height: 350px;
  width: 220px;
  display: flex;
flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
  background-color: #ED1D24;

}

.hero-description {
    font-size: 12px;
    margin: 5px 20px;
    text-align: justify;
    color: white;
}

.hero-name {
    color: white;
    /* background-color: red; */
    height: 40px;
    width: 220px;
    display: flex;
    font-style: italic;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
   
}

.character-title {
    margin: 20px auto;
    color: #ED1D24;
    /* text-transform: uppercase; */
    background-color: blue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 40px;

}